html{
  background-color: grey;
}
.conatiner-fluid{
    background-color: grey;
}
input[type="text"]{
  background: transparent;
  color:white;

}
input[type="text"]:focus{
  background: transparent;
  color:white;
  
}